/**
 * Glyph fonts
 *
 * @package Fluida
 */

/* Glyph Icons */
@font-face {
    font-family: 'elusive';
    src: url('elusive.eot');
    src: url('elusive.eot?#iefix') format('embedded-opentype'),
       url('elusive.woff') format('woff'),
       url('elusive.ttf') format('truetype'),
       url('elusive.svg?#elusive') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "elusive";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    cursor: inherit;
    font-size: inherit;
}

.icon-author:before { content: '\e801'; }
.icon-category:before { content: '\e805'; }
.icon-category2:before { content: '\e817'; }
.icon-folder-close:before { content: '\e81c'; }
.icon-folder-open:before { content: '\e81d'; }
.icon-tag:before { content: '\e802'; }
.icon-bookmark:before { content: '\e810'; }
.icon-edit:before { content: '\e804'; }
.icon-comment:before { content: '\e800'; }
.icon-comments:before { content: '\e815';} .icon-comments { margin-right: .4em; }
.icon-date:before { content: '\e82b';}
.icon-time:before { content: '\e80d';} .icon-time { margin-right: .2em; }
.icon-forward:before { content: '\e81b'; }
.icon-reply:before { content: '\e81b';}
.icon-metas:before { font-size: 1em; line-height: 1; cursor: default; margin-right: .2em; }
.icon-metas.icon-resize-full-alt:before, .icon-metas.icon-edit-alt:before { font-size: .9em; }

.icon-status:before { content: '\e81a'; }
.icon-aside:before { content: '\e82a'; }
.icon-link:before { content: '\e818'; }
.icon-audio:before { content: '\e823'; }
.icon-video:before { content: '\e829'; }
.icon-image:before { content: '\e824'; }
.icon-gallery:before { content: '\e825'; }
.icon-quote:before { content: '\e80f'; } .icon-chat:before { content: '\e80f'; }
.icon-search:before { content: '\e816'; }
.icon-down-dir:before { content: '\e803'; }
.icon-right-dir:before { content: '\e806'; }
.icon-angle-left:before { content: '\e807'; }
.icon-angle-right:before { content: '\e808'; }
.icon-angle-up:before { content: '\e809'; }
.icon-angle-down:before { content: '\e80a'; }
.icon-minus:before { content: '\e80b'; }
.icon-left-open:before { content: '\e80c'; }
.icon-up:before { content: '\e80e'; }
.icon-left-dir:before { content: '\e811'; }
.icon-up-open:before { content: '\e812'; }
.icon-ok:before { content: '\e813'; }
.icon-cancel:before { content: '\e814'; }
.icon-up-dir:before { content: '\e819'; }
.icon-right-open:before { content: '\e81e'; }
.icon-home:before { content: '\e81f'; }
.icon-menu:before { content: '\e820'; }
.icon-plus:before { content: '\e821'; }
.icon-down-open:before { content: '\e822'; }
.icon-down:before { content: '\e826'; }
.icon-left:before { content: '\e827'; }
.icon-right:before { content: '\e828'; }
.icon-star-empty:before { content: '\e82c'; }
.icon-star:before { content: '\e82d'; }
.icon-mail:before { content: '\e82e'; }
.icon-home-1:before { content: '\e82f'; }
.icon-attach:before { content: '\e830'; }
.icon-eye:before { content: '\e831'; }
.icon-eye-off:before { content: '\e832'; }
.icon-tags:before { content: '\e833'; }
.icon-flag:before { content: '\e834'; }
.icon-warning:before { content: '\e835'; }
.icon-location:before { content: '\e836'; }
.icon-trash:before { content: '\e837'; }
.icon-doc:before { content: '\e838'; }
.icon-phone:before { content: '\e839'; }
.icon-cog:before { content: '\e83a'; }
.icon-basket:before { content: '\e83b'; }
.icon-basket-circled:before { content: '\e83c'; }
.icon-wrench:before { content: '\e83d'; }
.icon-wrench-circled:before { content: '\e83e'; }
.icon-mic:before { content: '\e83f'; }
.icon-volume:before { content: '\e840'; }
.icon-volume-down:before { content: '\e841'; }
.icon-volume-off:before { content: '\e842'; }
.icon-headphones:before { content: '\e843'; }
.icon-lightbulb:before { content: '\e844'; }
.icon-resize-full:before { content: '\e845'; }
.icon-resize-full-alt:before { content: '\e846'; }
.icon-resize-small:before { content: '\e847'; }
.icon-resize-vertical:before { content: '\e848'; }
.icon-resize-horizontal:before { content: '\e849'; }
.icon-move:before { content: '\e84a'; }
.icon-zoom-in:before { content: '\e84b'; }
.icon-zoom-out:before { content: '\e84c'; }
.icon-arrows-cw:before { content: '\e84d'; }
.icon-desktop:before { content: '\e84e'; }
.icon-inbox:before { content: '\e84f'; }
.icon-cloud:before { content: '\e850'; }
.icon-book:before { content: '\e851'; }
.icon-certificate:before { content: '\e852'; }
.icon-tasks:before { content: '\e853'; }
.icon-thumbs-up:before { content: '\e854'; }
.icon-thumbs-down:before { content: '\e855'; }
.icon-help-circled:before { content: '\e856'; }
.icon-star-circled:before { content: '\e857'; }
.icon-bell:before { content: '\e858'; }
.icon-rss:before { content: '\e859'; }
.icon-trash-circled:before { content: '\e85a'; }
.icon-cogs:before { content: '\e85b'; }
.icon-cog-circled:before { content: '\e85c'; }
.icon-calendar-circled:before { content: '\e85d'; }
.icon-mic-circled:before { content: '\e85e'; }
.icon-volume-up:before { content: '\e85f'; }
.icon-print:before { content: '\e860'; }
.icon-edit-alt:before { content: '\e861'; }
.icon-edit-2:before { content: '\e862'; }
.icon-block:before { content: '\e863'; }


/* Social Icons */
@font-face {
    font-family: 'socials';
    src: url('socials.eot');
    src: url('socials.eot?#iefix') format('embedded-opentype'),
       url('socials.woff') format('woff'),
       url('socials.ttf') format('truetype'),
       url('socials.svg?#elusive') format('svg');
    font-weight: normal;
    font-style: normal;
}

.socials a:before {
    font-family: "socials";
    font-style: normal;
    font-weight: normal;
    speak: none;
    content:  '\e83d';
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
}

.socials a[href*=".com"]:before, .socials a { }

.socials a[href*="duckduckgo.com"]:before, .socials a.duckduckgo:before { content: '\e801'; }
.socials a[href*="aim.com"]:before, .socials a.aim:before { content: '\e802'; }
.socials a[href*="delicious.com"]:before, .socials a.delicious:before { content: '\e803'; }
.socials a[href*="paypal.com"]:before, .socials a.paypal:before { content: '\e804'; }
.socials a[href*="flattr.com"]:before, .socials a.flattr:before { content: '\e805'; }
.socials a.android:before { content: '\e806'; }
.socials a[href*="eventful.com"]:before, .socials a.eventful:before { content: '\e807'; }
.socials a[href*="smashingmagazine.com"]:before, .socials a.smashingmagazine:before { content: '\e808'; }
.socials a[href*="plus.google.com"]:before, .socials a.googleplus:before { content: '\e809'; }
.socials a[href*="wikipedia.org"]:before, .socials a.wikipedia:before { content: '\e80a'; }
.socials a[href*="lanyrd.com"]:before, .socials a.lanyrd:before { content: '\e80b'; }
.socials a.calendar:before { content: '\e80c'; }
.socials a[href*="stumbleupon.com"]:before, .socials a.stumbleupon:before { content: '\e80d'; }
.socials a[href*="500px.com"]:before, .socials a.500px:before { content: '\e80e'; }
.socials a[href*="pinterest.com"]:before, .socials a.pinterest:before { content: '\e80f'; }
.socials a.bitcoin:before { content: '\e810'; }
.socials a.firefox:before { content: '\e811'; }
.socials a[href*="foursquare.com"]:before, .socials a.foursquare:before { content: '\e812'; }
.socials a.chrome:before { content: '\e813'; }
.socials a.ie:before, .socials a.internetexplorer { content: '\e814'; }
.socials a[href^="tel:"]:before, .socials a.phone:before { content: '\e815'; }
.socials a[href*="grooveshark.im"]:before, .socials a.grooveshark:before { content: '\e816'; }
.socials a[href*="99designs.com"]:before, .socials a.99designs:before { content: '\e817'; }
.socials a.code:before { content: '\e818'; }
.socials a[href*="digg.com"]:before, .socials a.digg:before { content: '\e819'; }
.socials a[href*="spotify.com"]:before, .socials a.spotify:before { content: '\e81a'; }
.socials a[href*="reddit.com"]:before, .socials a.reddit:before { content: '\e81b'; }
.socials a.about:before { content: '\e81c'; }
.socials a[href*="codeopen.io"]:before, .socials a.codeopen:before { content: '\e81d'; }
.socials a[href*="itunes.apple.com"]:before, .socials a.appstore:before { content: '\e81e'; }
.socials a[href*="creativecommons.org"]:before, .socials a.cc:before, .socials a.creativecommons { content: '\e820'; }
.socials a[href*="dribble.com"]:before, .socials a.dribbble:before { content: '\e821'; }
.socials a[href*="evernote.com"]:before, .socials a.evernote:before { content: '\e822'; }
.socials a[href*="flickr.com"]:before, .socials a.flickr:before { content: '\e823'; }
.socials a.link2:before, .socials a.url2 { content: '\e824'; }
.socials a[href*="viadeo.com"]:before, .socials a.viadeo:before { content: '\e825'; }
.socials a[href*="instapaper.com"]:before, .socials a.instapaper:before { content: '\e826'; }
.socials a[href*="weibo.com"]:before, .socials a.weibo:before { content: '\e827'; }
.socials a[href*="klout.com"]:before, .socials a.klout:before { content: '\e828'; }
.socials a[href*="linkedin.com"]:before, .socials a.icon-linkedin:before { content: '\e829'; }
.socials a[href*="meetup.com"]:before, .socials a.meetup:before { content: '\e82a'; }
.socials a[href*="vk.com"]:before, .socials a.icon-vk:before { content: '\e82b'; }
.socials a[href*="plancast.com"]:before, .socials a.plancast:before { content: '\e82c'; }
.socials a[href*="disqus.com"]:before, .socials a.disqus:before { content: '\e82d'; }
.socials a[href*="/feed"]:before, .socials a[href*="/rss"]:before, .socials a.rss:before, .socials a.feed:before { content: '\e82e'; }
.socials a[href^="callto:"]:before, .socials a.skype:before { content: '\e82f'; }
.socials a[href*="twitter.com"]:before, .socials a.twitter:before { content: '\e830'; }
.socials a[href*="youtube.com"]:before, .socials a.youtube:before { content: '\e831'; }
.socials a[href*="vimeo.com"]:before, .socials a.vimeo:before { content: '\e832'; }
.socials a.windows:before { content: '\e833'; }
.socials a[href*="xing.com"]:before, .socials a.xing:before { content: '\e834'; }
.socials a[href*="yahoo.com"]:before, .socials a.yahoo:before { content: '\e835'; }
/*.socials a.search3:before { content: '\e836'; } */
.socials a.email:before { content: '\e837'; }
.socials a.cloud:before { content: '\e838'; }
.socials a[href*="myspace.com"]:before, .socials a.myspace:before { content: '\e839'; }
.socials a.podcast:before { content: '\e83a'; }
.socials a[href*="amazon.com"]:before, .socials a.amazon:before { content: '\e83b'; }
.socials a[href*="steampowered.com"]:before, .socials a.steam:before { content: '\e83c'; }
.socials a.link:before { content: '\e83d'; }
.socials a[href*="dropbox.com"]:before, .socials a.dropbox:before { content: '\e83e'; }
.socials a[href*="ebay."]:before, .socials a.ebay:before { content: '\e83f'; }
.socials a[href*="facebook.com"]:before { content: '\e840'; }
.socials a.github2:before { content: '\e841'; }
.socials a[href*="github.com"]:before, .socials a.github:before { content: '\e842'; }
.socials a[href*="play.google.com"]:before, .socials a.googleplay:before { content: '\e843'; }
.socials a.itunes:before { content: '\e844'; }
.socials a[href*="plurk.com"]:before, .socials a.plurk:before { content: '\e845'; }
.socials a[href*="songkick.com"]:before, .socials a.songkick:before { content: '\e846'; }
.socials a[href*="last.fm"]:before, .socials a.lastfm:before { content: '\e847'; }
.socials a[href*="gmail.com"]:before, .socials a.gmail:before { content: '\e848'; }
.socials a[href*="pinboard.in"]:before, .socials a.pinboard:before { content: '\e849'; }
.socials a[href*="openid.net"]:before, .socials a.openid:before { content: '\e84a'; }
.socials a[href*="quora.com"]:before, .socials a.quora:before { content: '\e84b'; }
.socials a[href*="soundcloud.com"]:before, .socials a.soundcloud:before { content: '\e84c'; }
.socials a[href*="tumblr.com"]:before, .socials a.tumblr:before { content: '\e84d'; }
/*.socials a.search2:before { content: '\e84e'; } */
.socials a[href*="wordpress.com"]:before, .socials a[href*="wordpress.org"]:before, .socials a.wordpress:before { content: '\e84f'; }
.socials a[href*="yelp.com"]:before, .socials a.yelp:before { content: '\e850'; }
.socials a[href*="intensedebate.com"]:before, .socials a.intensedebate:before { content: '\e851'; }
.socials a[href*="eventbrite.com"]:before, .socials a.eventbrite:before { content: '\e852'; }
.socials a[href*="scribd.com"]:before, .socials a.scribd:before { content: '\e853'; }
/*.socials a.search:before { content: '\e854'; } */
.socials a[href*="stripe.com"]:before, .socials a.stripe:before { content: '\e855'; }
.socials a[href*="opentable.com"]:before, .socials a.opentable:before { content: '\e856'; }
.socials a.cart:before { content: '\e857'; }
.socials a.opera:before { content: '\e858'; }
.socials a[href*="angel.co"]:before, .socials a.angellist:before { content: '\e859'; }
.socials a[href*="instagram.com"]:before, .socials a.instagram:before { content: '\e85a'; }
.socials a[href*="dwolla.com"]:before, .socials a.dwolla:before { content: '\e85b'; }
.socials a[href*="app.net"]:before, .socials a.appnet:before { content: '\e85c'; }
.socials a[href*="drupal.org"]:before, .socials a.drupal:before { content: '\e85f'; }
.socials a[href*="buffer.com"]:before, .socials a.buffer:before { content: '\e860'; }
.socials a[href*="getpocket.com"]:before, .socials a.pocket:before { content: '\e861'; }
.socials a[href*="bitbucket.org"]:before, .socials a.bitbucket:before { content: '\e862'; }
.socials a.icon-phone2:before { content: '\e863'; }
.socials a[href*="stackoverflow.com"]:before, .socials a.stackoverflow:before { content: '\e865'; }
.socials a[href*="news.ycombinator.com"]:before, .socials a.hackernews:before { content: '\e866'; }
.socials a.icon-lkdto:before { content: '\e867'; }
.socials a.twitter2:before { content: '\e868'; }
.socials a.phone3:before { content: '\e869'; }
.socials a.mobile:before { content: '\e86a'; }
.socials a.support:before { content: '\e86b'; }
.socials a[href*="twitch.tv"]:before, .socials a.twitch:before { content: '\e86c'; }
.socials a.beer:before { content: '\e86d'; }


/* Block font */
@font-face {
    font-family: 'fluida-blocks';
    src: url('blocks.eot');
    src: url('blocks.eot?#iefix') format('embedded-opentype'),
        url('blocks.woff2') format('woff2'),
        url('blocks.woff') format('woff'),
        url('blocks.ttf') format('truetype'),
        url('blocks.svg?#blocks') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="blicon-"]:before,
[class*=" blicon-"]:before {
    font-family: "fluida-blocks";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    cursor: inherit;
    font-size: inherit;
}

.blicon-users:before { content: '\e800'; } /* '' */
.blicon-music:before { content: '\e801'; } /* '' */
.blicon-search:before { content: '\e802'; } /* '' */
.blicon-mail:before { content: '\e803'; } /* '' */
.blicon-heart:before { content: '\e804'; } /* '' */
.blicon-heart-empty:before { content: '\e805'; } /* '' */
.blicon-star:before { content: '\e806'; } /* '' */
.blicon-star-empty:before { content: '\e807'; } /* '' */
.blicon-star-half:before { content: '\e808'; } /* '' */
.blicon-user:before { content: '\e809'; } /* '' */
.blicon-video:before { content: '\e80a'; } /* '' */
.blicon-videocam:before { content: '\e80b'; } /* '' */
.blicon-picture:before { content: '\e80c'; } /* '' */
.blicon-camera:before { content: '\e80d'; } /* '' */
.blicon-camera-alt:before { content: '\e80e'; } /* '' */
.blicon-th-large:before { content: '\e80f'; } /* '' */
.blicon-th:before { content: '\e810'; } /* '' */
.blicon-th-list:before { content: '\e811'; } /* '' */
.blicon-ok:before { content: '\e812'; } /* '' */
.blicon-ok-circled:before { content: '\e813'; } /* '' */
.blicon-ok-circled2:before { content: '\e814'; } /* '' */
.blicon-cancel:before { content: '\e815'; } /* '' */
.blicon-cancel-circled:before { content: '\e816'; } /* '' */
.blicon-cancel-circled2:before { content: '\e817'; } /* '' */
.blicon-plus:before { content: '\e818'; } /* '' */
.blicon-plus-circled:before { content: '\e819'; } /* '' */
.blicon-help-circled:before { content: '\e81a'; } /* '' */
.blicon-info-circled:before { content: '\e81b'; } /* '' */
.blicon-home:before { content: '\e81c'; } /* '' */
.blicon-link:before { content: '\e81d'; } /* '' */
.blicon-lock:before { content: '\e81e'; } /* '' */
.blicon-lock-open:before { content: '\e81f'; } /* '' */
.blicon-pin:before { content: '\e820'; } /* '' */
.blicon-eye:before { content: '\e821'; } /* '' */
.blicon-tags:before { content: '\e822'; } /* '' */
.blicon-tag:before { content: '\e823'; } /* '' */
.blicon-bookmark:before { content: '\e824'; } /* '' */
.blicon-flag:before { content: '\e825'; } /* '' */
.blicon-thumbs-up:before { content: '\e826'; } /* '' */
.blicon-thumbs-down:before { content: '\e827'; } /* '' */
.blicon-download:before { content: '\e828'; } /* '' */
.blicon-upload:before { content: '\e829'; } /* '' */
.blicon-pencil:before { content: '\e82a'; } /* '' */
.blicon-forward:before { content: '\e82b'; } /* '' */
.blicon-print:before { content: '\e82c'; } /* '' */
.blicon-retweet:before { content: '\e82d'; } /* '' */
.blicon-comment:before { content: '\e82e'; } /* '' */
.blicon-chat:before { content: '\e82f'; } /* '' */
.blicon-bell:before { content: '\e830'; } /* '' */
.blicon-attention:before { content: '\e831'; } /* '' */
.blicon-attention-circled:before { content: '\e832'; } /* '' */
.blicon-location:before { content: '\e833'; } /* '' */
.blicon-trash-empty:before { content: '\e834'; } /* '' */
.blicon-doc:before { content: '\e835'; } /* '' */
.blicon-phone:before { content: '\e836'; } /* '' */
.blicon-cog:before { content: '\e837'; } /* '' */
.blicon-cog-alt:before { content: '\e838'; } /* '' */
.blicon-wrench:before { content: '\e839'; } /* '' */
.blicon-basket:before { content: '\e83a'; } /* '' */
.blicon-calendar:before { content: '\e83b'; } /* '' */
.blicon-volume-up:before { content: '\e83c'; } /* '' */
.blicon-headphones:before { content: '\e83d'; } /* '' */
.blicon-clock:before { content: '\e83e'; } /* '' */
.blicon-arrows-cw:before { content: '\e83f'; } /* '' */
.blicon-shuffle:before { content: '\e840'; } /* '' */
.blicon-left-hand:before { content: '\e841'; } /* '' */
.blicon-up-hand:before { content: '\e842'; } /* '' */
.blicon-down-hand:before { content: '\e843'; } /* '' */
.blicon-right-hand:before { content: '\e844'; } /* '' */
.blicon-play:before { content: '\e845'; } /* '' */
.blicon-signal:before { content: '\e846'; } /* '' */
.blicon-target:before { content: '\e847'; } /* '' */
.blicon-award:before { content: '\e848'; } /* '' */
.blicon-inbox:before { content: '\e849'; } /* '' */
.blicon-globe:before { content: '\e84a'; } /* '' */
.blicon-cloud:before { content: '\e84b'; } /* '' */
.blicon-flash:before { content: '\e84c'; } /* '' */
.blicon-umbrella:before { content: '\e84d'; } /* '' */
.blicon-flight:before { content: '\e84e'; } /* '' */
.blicon-leaf:before { content: '\e84f'; } /* '' */
.blicon-scissors:before { content: '\e850'; } /* '' */
.blicon-briefcase:before { content: '\e851'; } /* '' */
.blicon-road:before { content: '\e852'; } /* '' */
.blicon-list-alt:before { content: '\e853'; } /* '' */
.blicon-qrcode:before { content: '\e854'; } /* '' */
.blicon-barcode:before { content: '\e855'; } /* '' */
.blicon-book:before { content: '\e856'; } /* '' */
.blicon-check:before { content: '\e857'; } /* '' */
.blicon-gift:before { content: '\e858'; } /* '' */
.blicon-fire:before { content: '\e859'; } /* '' */
.blicon-asterisk:before { content: '\e85a'; } /* '' */
.blicon-magnet:before { content: '\e85b'; } /* '' */
.blicon-chart-bar:before { content: '\e85c'; } /* '' */
.blicon-credit-card:before { content: '\e85d'; } /* '' */
.blicon-floppy:before { content: '\e85e'; } /* '' */
.blicon-megaphone:before { content: '\e85f'; } /* '' */
.blicon-key:before { content: '\e860'; } /* '' */
.blicon-truck:before { content: '\e861'; } /* '' */
.blicon-hammer:before { content: '\e862'; } /* '' */
.blicon-bookmark-empty:before { content: '\f097'; } /* '' */
.blicon-phone-squared:before { content: '\f098'; } /* '' */
.blicon-rss:before { content: '\f09e'; } /* '' */
.blicon-hdd:before { content: '\f0a0'; } /* '' */
.blicon-tasks:before { content: '\f0ae'; } /* '' */
.blicon-beaker:before { content: '\f0c3'; } /* '' */
.blicon-docs:before { content: '\f0c5'; } /* '' */
.blicon-menu:before { content: '\f0c9'; } /* '' */
.blicon-table:before { content: '\f0ce'; } /* '' */
.blicon-magic:before { content: '\f0d0'; } /* '' */
.blicon-money:before { content: '\f0d6'; } /* '' */
.blicon-mail-alt:before { content: '\f0e0'; } /* '' */
.blicon-gauge:before { content: '\f0e4'; } /* '' */
.blicon-comment-empty:before { content: '\f0e5'; } /* '' */
.blicon-chat-empty:before { content: '\f0e6'; } /* '' */
.blicon-sitemap:before { content: '\f0e8'; } /* '' */
.blicon-lightbulb:before { content: '\f0eb'; } /* '' */
.blicon-download-cloud:before { content: '\f0ed'; } /* '' */
.blicon-upload-cloud:before { content: '\f0ee'; } /* '' */
.blicon-user-md:before { content: '\f0f0'; } /* '' */
.blicon-stethoscope:before { content: '\f0f1'; } /* '' */
.blicon-suitcase:before { content: '\f0f2'; } /* '' */
.blicon-bell-alt:before { content: '\f0f3'; } /* '' */
.blicon-coffee:before { content: '\f0f4'; } /* '' */
.blicon-food:before { content: '\f0f5'; } /* '' */
.blicon-doc-text:before { content: '\f0f6'; } /* '' */
.blicon-building:before { content: '\f0f7'; } /* '' */
.blicon-hospital:before { content: '\f0f8'; } /* '' */
.blicon-ambulance:before { content: '\f0f9'; } /* '' */
.blicon-medkit:before { content: '\f0fa'; } /* '' */
.blicon-fighter-jet:before { content: '\f0fb'; } /* '' */
.blicon-beer:before { content: '\f0fc'; } /* '' */
.blicon-h-sigh:before { content: '\f0fd'; } /* '' */
.blicon-plus-squared:before { content: '\f0fe'; } /* '' */
.blicon-desktop:before { content: '\f108'; } /* '' */
.blicon-laptop:before { content: '\f109'; } /* '' */
.blicon-tablet:before { content: '\f10a'; } /* '' */
.blicon-mobile:before { content: '\f10b'; } /* '' */
.blicon-reply:before { content: '\f112'; } /* '' */
.blicon-smile:before { content: '\f118'; } /* '' */
.blicon-frown:before { content: '\f119'; } /* '' */
.blicon-meh:before { content: '\f11a'; } /* '' */
.blicon-gamepad:before { content: '\f11b'; } /* '' */
.blicon-keyboard:before { content: '\f11c'; } /* '' */
.blicon-flag-empty:before { content: '\f11d'; } /* '' */
.blicon-flag-checkered:before { content: '\f11e'; } /* '' */
.blicon-terminal:before { content: '\f120'; } /* '' */
.blicon-code:before { content: '\f121'; } /* '' */
.blicon-star-half-alt:before { content: '\f123'; } /* '' */
.blicon-direction:before { content: '\f124'; } /* '' */
.blicon-fork:before { content: '\f126'; } /* '' */
.blicon-help:before { content: '\f128'; } /* '' */
.blicon-info:before { content: '\f129'; } /* '' */
.blicon-attention-alt:before { content: '\f12a'; } /* '' */
.blicon-eraser:before { content: '\f12d'; } /* '' */
.blicon-puzzle:before { content: '\f12e'; } /* '' */
.blicon-mic:before { content: '\f130'; } /* '' */
.blicon-shield:before { content: '\f132'; } /* '' */
.blicon-calendar-empty:before { content: '\f133'; } /* '' */
.blicon-extinguisher:before { content: '\f134'; } /* '' */
.blicon-rocket:before { content: '\f135'; } /* '' */
.blicon-anchor:before { content: '\f13d'; } /* '' */
.blicon-lock-open-alt:before { content: '\f13e'; } /* '' */
.blicon-bullseye:before { content: '\f140'; } /* '' */
.blicon-rss-squared:before { content: '\f143'; } /* '' */
.blicon-ticket:before { content: '\f145'; } /* '' */
.blicon-ok-squared:before { content: '\f14a'; } /* '' */
.blicon-compass:before { content: '\f14e'; } /* '' */
.blicon-euro:before { content: '\f153'; } /* '' */
.blicon-pound:before { content: '\f154'; } /* '' */
.blicon-dollar:before { content: '\f155'; } /* '' */
.blicon-doc-inv:before { content: '\f15b'; } /* '' */
.blicon-doc-text-inv:before { content: '\f15c'; } /* '' */
.blicon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.blicon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.blicon-android:before { content: '\f17b'; } /* '' */
.blicon-female:before { content: '\f182'; } /* '' */
.blicon-male:before { content: '\f183'; } /* '' */
.blicon-sun:before { content: '\f185'; } /* '' */
.blicon-moon:before { content: '\f186'; } /* '' */
.blicon-box:before { content: '\f187'; } /* '' */
.blicon-bug:before { content: '\f188'; } /* '' */
.blicon-wheelchair:before { content: '\f193'; } /* '' */
.blicon-plus-squared-alt:before { content: '\f196'; } /* '' */
.blicon-space-shuttle:before { content: '\f197'; } /* '' */
.blicon-bank:before { content: '\f19c'; } /* '' */
.blicon-graduation-cap:before { content: '\f19d'; } /* '' */
.blicon-language:before { content: '\f1ab'; } /* '' */
.blicon-fax:before { content: '\f1ac'; } /* '' */
.blicon-building-filled:before { content: '\f1ad'; } /* '' */
.blicon-child:before { content: '\f1ae'; } /* '' */
.blicon-paw:before { content: '\f1b0'; } /* '' */
.blicon-spoon:before { content: '\f1b1'; } /* '' */
.blicon-cube:before { content: '\f1b2'; } /* '' */
.blicon-cubes:before { content: '\f1b3'; } /* '' */
.blicon-recycle:before { content: '\f1b8'; } /* '' */
.blicon-cab:before { content: '\f1b9'; } /* '' */
.blicon-taxi:before { content: '\f1ba'; } /* '' */
.blicon-tree:before { content: '\f1bb'; } /* '' */
.blicon-database:before { content: '\f1c0'; } /* '' */
.blicon-file-code:before { content: '\f1c9'; } /* '' */
.blicon-lifebuoy:before { content: '\f1cd'; } /* '' */
.blicon-paper-plane:before { content: '\f1d8'; } /* '' */
.blicon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.blicon-sliders:before { content: '\f1de'; } /* '' */
.blicon-share:before { content: '\f1e0'; } /* '' */
.blicon-share-squared:before { content: '\f1e1'; } /* '' */
.blicon-bomb:before { content: '\f1e2'; } /* '' */
.blicon-soccer-ball:before { content: '\f1e3'; } /* '' */
.blicon-binoculars:before { content: '\f1e5'; } /* '' */
.blicon-plug:before { content: '\f1e6'; } /* '' */
.blicon-newspaper:before { content: '\f1ea'; } /* '' */
.blicon-wifi:before { content: '\f1eb'; } /* '' */
.blicon-calc:before { content: '\f1ec'; } /* '' */
.blicon-cc-visa:before { content: '\f1f0'; } /* '' */
.blicon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.blicon-cc-discover:before { content: '\f1f2'; } /* '' */
.blicon-cc-amex:before { content: '\f1f3'; } /* '' */
.blicon-cc-paypal:before { content: '\f1f4'; } /* '' */
.blicon-cc-stripe:before { content: '\f1f5'; } /* '' */
.blicon-trash:before { content: '\f1f8'; } /* '' */
.blicon-copyright:before { content: '\f1f9'; } /* '' */
.blicon-at:before { content: '\f1fa'; } /* '' */
.blicon-eyedropper:before { content: '\f1fb'; } /* '' */
.blicon-brush:before { content: '\f1fc'; } /* '' */
.blicon-birthday:before { content: '\f1fd'; } /* '' */
.blicon-chart-area:before { content: '\f1fe'; } /* '' */
.blicon-chart-pie:before { content: '\f200'; } /* '' */
.blicon-chart-line:before { content: '\f201'; } /* '' */
.blicon-bicycle:before { content: '\f206'; } /* '' */
.blicon-bus:before { content: '\f207'; } /* '' */
.blicon-cart-plus:before { content: '\f217'; } /* '' */
.blicon-cart-arrow-down:before { content: '\f218'; } /* '' */
.blicon-diamond:before { content: '\f219'; } /* '' */
.blicon-ship:before { content: '\f21a'; } /* '' */
.blicon-user-secret:before { content: '\f21b'; } /* '' */
.blicon-motorcycle:before { content: '\f21c'; } /* '' */
.blicon-street-view:before { content: '\f21d'; } /* '' */
.blicon-heartbeat:before { content: '\f21e'; } /* '' */
.blicon-venus:before { content: '\f221'; } /* '' */
.blicon-mars:before { content: '\f222'; } /* '' */
.blicon-server:before { content: '\f233'; } /* '' */
.blicon-bed:before { content: '\f236'; } /* '' */
.blicon-train:before { content: '\f238'; } /* '' */
.blicon-subway:before { content: '\f239'; } /* '' */
.blicon-mouse-pointer:before { content: '\f245'; } /* '' */
.blicon-balance-scale:before { content: '\f24e'; } /* '' */
.blicon-hourglass-o:before { content: '\f250'; } /* '' */
.blicon-hourglass:before { content: '\f254'; } /* '' */
.blicon-amazon:before { content: '\f270'; } /* '' */
.blicon-industry:before { content: '\f275'; } /* '' */
.blicon-map-signs:before { content: '\f277'; } /* '' */
.blicon-map-o:before { content: '\f278'; } /* '' */
.blicon-map:before { content: '\f279'; } /* '' */
.blicon-commenting:before { content: '\f27a'; } /* '' */
.blicon-commenting-o:before { content: '\f27b'; } /* '' */
.blicon-credit-card-alt:before { content: '\f283'; } /* '' */
.blicon-shopping-bag:before { content: '\f290'; } /* '' */
.blicon-shopping-basket:before { content: '\f291'; } /* '' */
.blicon-hashtag:before { content: '\f292'; } /* '' */
.blicon-percent:before { content: '\f295'; } /* '' */
.blicon-question-circle-o:before { content: '\f29c'; } /* '' */

/* FIN */
